#banner {
	background-color: #5587ad;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	width: 100%;
}
img#eis-logo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100px;
	height: 100px;
}
#app-name {
	margin-top: 20px;
	font-size: 25px;
	width: 100%;
	height: 60px;
	font-family: Arial Black;
	text-align: center;
}
#login-background {
	float: left;
	background-image: url('../images/background.png');
	padding-top: 10px;
	width: 100%;
	height: 430px;
}
#login-border {
	background-color: #a4bfd4;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	width: 400px;
	height: 355px;
}
#login-form {
	background-color: rgba(74, 125, 164, 1);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-top: 10px;
	width: 330px;
	height: 320px;
}
#login-name {
	color: white;
	font-size: 25px;
	font-family: Arial Black;
	margin-bottom: 5px;
}
#login-error {
	margin-bottom: 5px;
	height: 20px;
	width: 310px;
	color: red;
	font-family: Arial;
	font-weight: bold;
}
.error-msg{
	height: 20px;
	width: 310px;
	margin-bottom: 5px;
	color: red;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
}
label {
	clear: right;
	font-size: 15px;
	font-family: Arial;
}
input[type="text"], input[type="password"] {
	font-size: 17px;
	width: 310px;
}
input[type="submit"] {
	font-size: 17px;
	height: 30px;
	width: 100px;
}
#footer {
	float: left;
	padding-top: 5px;
	height: 15px;
	width: 100%;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
}