/*css for the original main*/
body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
	
	position: absolute;
	width: 925px;
	opacity: .8;
	font-family: Arial;
	font-weight: bold;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#overlay-progress 
{
	background-color: rgba(1, 1, 1, 0.1);
	font-family: Arial;
	font-size: 17px;
	color: black;
	position: absolute;
	text-align: center;
	top: 450px;
	left: 600px;
	z-index: 115;
	padding-top: 15px;
	height: 35px;
	width: 250px;
}
/*css for the original main*/

/*css from this point is for the areas in grid layout*/
.wrapper 
{
	border: 2px solid #e9f3f8;
	float: left;
	height: 26px;
	width: 896px;
	margin-left: 20px;
	margin-top: 20px;
}

.area-name 
{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	height: 25px;
	width: 790px;
	color: #5bad6c;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
}

.color-rating
{
	float: left;
	height: 30px;
	width: 100px;
}

#page-name
{
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	height: 20px;
	width: 950px;
	margin-top: 5px;
}

/*for styling http error messages*/
#error 
{
	background: url('../images/warning.png') no-repeat left #3b454f;
	background-position: 0px center;
	background-size: 100px 100px;
	border-radius: 5px;
	color: #cbd4db;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 100px;
	padding-bottom: 20px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	text-align: justify;
	height: 80px;
	width: 600px;
}

/*style for the dashboard*/
#dashboard-container 
{
	border-top: 2px solid #414146;
	border-bottom: 2px solid #414146;
	width: 950px;
	min-height: 750px;
	height: auto;
}

#dashboard-side
 {
	float: left;
	min-height: 300px;
	width: 198px;
}

.dashboard-side-name
{
	background-color: #f7f7f7;
	padding-left: 20px;
	padding-top: 5px;
	height: 25px;
	width: auto;
	font-family: Arial Black;
	color: #5f5b58;
}

#dimensions
{
	width: auto;
	height: 50px;
	height: auto;
}

#dimensions input[type="checkbox"]
{
	height: 15px;
	width: 15px;
}

#dimensions label
{
	font-family: Arial;
	font-size: 13px;
}

.dimensions-checkbox 
{
	padding-top: 5px;
	padding-bottom: 5px;
	height: auto;
	width: auto;
}

#measures-container 
{
	padding-top: 10px;
	padding-bottom: 10px;
	width: auto;
	min-height: 25px;
	text-align: center;
	height: auto;
}

#measures-container select, #chart-collapse select
 {
	border: 1px solid black;
	font-family: Arial;
	font-size: 13px;
	height: 25px;
	width: 170px;
}

#chart-collapse 
{
	margin-top: 5px;
	height: 30px;
	width: auto;
	text-align: center;
}

#dashboard-view 
{
	float: left;
	height: 60px;
	width: 750px;
}

#dashboard-panel 
{
	background-color: #f7f7f7;
	float: left;
	padding-left: 10px;
	height: 30px;
	width: 740px;
}

#dashboard-drilldown 
{
	position: absolute;
	top: 310px;
	left: 220px;
	height: 30px;
	width: 150px;
}

.panel-button 
{
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.rollup-panel-button 
{
	float: left;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 18px 18px;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	color: #414146;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 13px;
	height: 17px;
	width: 50px;
	cursor: pointer;
}

#rollup{background-image: url('../images/rollup.png');}
#reload{background-image: url('../images/reload.png');}
#save{background-image: url('../images/save.png');}
#alert{background-image: url('../images/alert.png');}

#alert-number
 {
	position: absolute;
	left: 340px;
	background-image: url('../images/alertnum.png');
	background-repeat: no-repeat;
	background-size: 25px 20px;
}
.dashboard-filter
{
	float: left;
	border-radius: 5px;
	border: 2px solid #eaeaea; 
	margin: 4px;
	min-height: 40px;
	height: auto;
	width: 735px;
}

#row-filter-title, #column-filter-title
{
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
	height: 35px;
	width: 70px;
	font-family: Arial;
	font-size: 15px;
}

#row-filter-buttons, #column-filter-buttons
{
	float: left;
	min-height: 30px;
	height: auto;
	width: 660px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#row-filter-buttons button, #column-filter-buttons button
 {
	cursor: pointer;
	background-color: #ebebed;
	border-radius: 5px;
	border: 2px solid #c4c4c8;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 2px;
	margin-left: 5px;
	height: 25px;
	min-width: 80px;
	width: auto;
	font-family: Arial;
	font-size: 13px;
}

#dashboard-charts 
{
	float: left;
	height: 60px;
	width: 750px;
}
.charts 
{
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	border: 1px solid white;
	background-size: 35px 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 53px;
	margin-right: 53px;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

#mode
 {
	height: 20px;
	margin-top: 5px;
	width: auto;
	font-family: Arial Black;
	color: #5f5b58;
	font-size: 15px;
	text-align: center;
}

#chart-collapse select
{
	border: 1px solid black;
	font-family: Arial;
	color: black;
	font-size: 13px;
	margin-right: auto;
	margin-left: auto;
}

#table {background-image: url('../images/chart-table.png');}
#bar {background-image: url('../images/chart-bar.png');}
#line {background-image: url('../images/chart-line.png');}
#pie {background-image: url('../images/chart-pie.png');}

#bubble 
{
	background-image: url('../images/chart-scatter.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	border: 1px solid white;
	background-size: 40px 24px;
}

#area{background-image: url('../images/chart-area.png');}
#map{background-image: url('../images/chart-map.png');}

.filter_container 
{
	position: absolute;
	z-index: 111;
	left: 470px;
	top: 300px;
	border: 2px solid #c4c4c8;
	background-color: white;
	min-height: 150px;
	height: auto;
	width: 400px;
}

.filter_button 
{
	margin-top: 20px;
	height: 35px;
	padding-left: 10px;
	width: 390px;
}

#comment-on-data 
{
	border: 1px dashed black;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 5px;
	font-family: Arial;
	font-size: 15px;
	height: 25px;
	width: 700px;
}

#overlay 
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 110;
	background-color: rgba(1, 1, 1, 0.5);
	height: 100%;
	width: 100%;
}

.filter_button button
{
	font-family: Arial;
	font-size: 15px;
	height: 25px;
	width: 50px;
}

#filter-data 
{
	background-color: white;
	height: auto;
	padding-left: 5px;
	width: 395px;
}

.filter_name 
{
	height: 25px;
	width: 390px;
	font-family: Arial Black;
	font-size: 15px;
	color: #5f5b58;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #eaeaea;
	background-color: #f7f7f7;
}

#chart-container
 {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	min-height: 200px;
	height: auto;
	width: 740px;
}

#chart-container table
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	font-size: 13px;
	border: 1px solid #7e7e7e;
	background-color: #f5f5f5;
	border-collapse: collapse;
}

#chart-container th
{
	text-align: center;
	border: 1px solid #7e7e7e;
	padding: 5px;
	height: 25px;
}

.drill-down
{
	cursor: default;
}

#chart-container td 
{
	border: 1px solid #7e7e7e;
	background-color: white;
	text-align: center;
	height: 25px;
	padding: 5px;
}

#drill-operation
{
	float: right;
	height: 25px;
	width: 20px;
}

#roll-up
{
	background-image: url('../images/roll-up.png');
	background-position: center center;
	background-size: 15px 10px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-bottom: 2px;
	float: right;
	height: 10px;
	width: 20px;
}

#not-roll-up
{
	background-image: url('../images/no-roll-up.png');
	background-position: center center;
	background-size: 15px 10px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-bottom: 2px;
	float: right;
	float: right;
	height: 10px;
	width: 20px;
}

#drill-down
{
	background-image: url('../images/drill-down.png');
	background-position: center center;
	background-size: 15px 10px;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 10px;
	width: 20px;
}

#not-drill-down
{
	background-image: url('../images/no-drill-down.png');
	background-position: center center;
	background-size: 15px 10px;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 10px;
	width: 20px;
}
/*style for the dashboard*/

#service-area-container
{
	min-height: 430px;
	height: auto;
	width: 950px;
}

#no-area
{
	font-weight: bold;
	margin-top: 20px;
	padding-top: 5px;
	padding-left: 20px;
	height: 25px;
	width: 930px;
}